// Your variable overrides
$primary: #003b6d;
$danger: #ff5555;
$secondary: #6272a4;
$gray-dark: #282a36;
$success: #50fa7b;
$info: #6699cc;
$warning: #ffb86c;
$light: #f8f8f2;
$dark: #282a36;
$pink: #ff79c6;
// Primary colors:
// Midnight Blue - #003B6D
// Blue Sky- #6699CC

// Secondary colors:
// Dim gray - #676767
// Silver- #BDBDBD

$theme-colors: (
  'primary': $primary,
  'danger': $danger,
  'secondary': $secondary,
  'gray-dark': $gray-dark,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'light': $light,
  'dark': $dark,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
